header {
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
  z-index: 30;
  transition: all 0.3s ease-in-out;
  padding: 0 1rem;
}

header .logo {
  height: 60px;
  width: 60px;
  background: #f1f1f1;
  border-radius: 50%;
  object-fit: contain;
}

.brand {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  text-decoration: none;
}

.brandText {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 1rem;
}

/* Responsive rules */
@media (max-width: 768px) {
  header {
    padding: 0 0.75rem;
  }
}
